.close {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    padding: 5px;
    line-height: 14px;
    border-radius: 50%;
    box-shadow: 3px 3px 10px grey;
    cursor: pointer;
    position: absolute;
    right: -10px;
    top: -10px;
    opacity: 1;
    background-color: white;
}

.task {
    box-shadow: 0 0 10px #888;
    padding: 5px;
    border-radius: 7px;
    margin-bottom: 5px;
}